---
import Section from "@components/Section.astro";

import { projects } from "@cv";
---

<Section title="Projects">
  <ul class="projects">
    {
      projects.map(
        ({
          name,
          description,
          startDate,
          endDate,
          url,
          highlights,
          isActive,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual";
          const year = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <a href={url} title={`Ver ${name} en la Web`}>
                    <h3>
                      {name} {isActive && <span>&bull;</span>}
                    </h3>
                  </a>
                  <p>{description}</p>
                </header>
                <footer>
                  <ul>
                    {highlights.map((text) => (
                      <li>{text}</li>
                    ))}
                  </ul>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    article {
      display: flex;
      gap: 16px;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid #f2f2f2;
      padding: 16px;
      height: 100%;

      p {
        line-height: 1.1rem;
      }

      header {
        flex: 1;

        h3 {
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          gap: 3px;

          span {
            color: #00bc2f;
          }
        }

        a {
          text-decoration: none;
          color: #000;

          &:hover {
            color: #222;
            text-decoration: underline;
          }
        }
      }
    }

    footer ul {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      li {
        display: inline-block;
        border-radius: 8px;
        background-color: #ddd;
        color: #000;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.8rem;
      }
    }
  }
</style>
